___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal=pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [5]:
sal.BasePay.mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [6]:
sal.OvertimePay.max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [9]:
sal.loc[sal.EmployeeName=='JOSEPH DRISCOLL','JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [13]:
sal.loc[sal.EmployeeName=='JOSEPH DRISCOLL',['TotalPay','Benefits']]

     TotalPay  Benefits
24  270324.91       NaN

** What is the name of highest paid person (including benefits)?**

In [15]:
sal[sal.TotalPay==sal.TotalPay.max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [16]:
sal[sal.TotalPay==sal.TotalPay.min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [18]:
sal.groupby('Year').BasePay.mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [20]:
len(sal.JobTitle.unique())

2159

** What are the top 5 most common jobs? **

In [24]:
sal.JobTitle.value_counts()[:5]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [47]:
sum(sal[sal.Year==2013]['JobTitle'].value_counts()==1)

202

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [79]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,title_len
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,46
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,31
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,31
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,36
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,44

In [61]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [62]:
sum(sal.JobTitle.apply(lambda x: chief_string(x)))

477

In [87]:
sal_627=sal[sal.JobTitle.isin([x for x in sal.JobTitle if 'chief' in x.lower()])]

In [90]:
sal_477=sal[sal.JobTitle.isin([x for x in sal.JobTitle if 'chief' in x.lower().split()])]

In [94]:
sal_627[~sal_627.JobTitle.isin([x for x in sal_477.JobTitle if 'chief' in x.lower().split()])]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,title_len
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN,34
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN,34
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.30,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN,34
18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,69626.12,38115.47,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN,34
23,24,VICTOR WYRSCH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,77896.14,24083.86,NaN,270672.63,270672.63,2011,NaN,San Francisco,NaN,34
27,28,RAYMOND GUZMAN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.59,80706.88,16063.99,NaN,265463.46,265463.46,2011,NaN,San Francisco,NaN,34
34,35,JOSE VELO,"BATTALION CHIEF, (FIRE DEPARTMENT)",177781.25,59924.97,20658.00,NaN,258364.22,258364.22,2011,NaN,San Francisco,NaN,34
39,40,BRENDAN WARD,"BATTALION CHIEF, (FIRE DEPARTMENT)",147158.85,64985.85,39540.46,NaN,251685.16,251685.16,2011,NaN,San Francisco,NaN,34
40,41,MICHAEL THOMPSON,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.66,60847.56,21055.17,NaN,250595.39,250595.39,2011,NaN,San Francisco,NaN,34
41,42,THOMAS ABBOTT,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,59760.90,21954.96,NaN,250408.49,250408.49,2011,NaN,San Francisco,NaN,34
46,47,BRYAN RUBENSTEIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.64,66199.23,14401.43,NaN,249293.30,249293.30,2011,NaN,San Francisco,NaN,34
50,51,KIRK RICHARDSON,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.59,58084.86,20477.16,NaN,247254.61,247254.61,2011,NaN,San Francisco,NaN,34
63,64,CHARLES CRANE,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.62,54342.28,15444.38,NaN,238479.28,238479.28,2011,NaN,San Francisco,NaN,34
71,72,RICHARD BUSALACCHI,"BATTALION CHIEF, (FIRE DEPARTMENT)",92782.61,5477.62,135684.25,NaN,233944.48,233944.48,2011,NaN,San Francisco,NaN,34
76,77,KEVIN BURKE,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,16876.74,40258.39,NaN,232007.77,232007.77,2011,NaN,San Francisco,NaN,34
79,80,EDUARDO GONZALEZ,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.62,35096.74,27802.89,NaN,231592.25,231592.25,2011,NaN,San Francisco,NaN,34
82,83,LORRIE KALOS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.62,41158.72,21055.17,NaN,230906.51,230906.51,2011,NaN,San Francisco,NaN,34
86,87,MICHAEL BRYANT,"BATTALION CHIEF, (FIRE DEPARTMENT)",150464.82,49813.69,30180.49,NaN,230459.00,230459.00,2011,NaN,San Francisco,NaN,34
90,91,MARK GONZALES,"BATTALION CHIEF, (FIRE DEPARTMENT)",188842.37,21453.59,18764.67,NaN,229060.63,229060.63,2011,NaN,San Francisco,NaN,34
94,95,REX HALE,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.62,33191.60,25434.68,NaN,227318.90,227318.90,2011,NaN,San Francisco,NaN,34
97,98,KEVIN SMITH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.67,35402.71,22261.95,NaN,226357.33,226357.33,2011,NaN,San Francisco,NaN,34
100,101,KEVIN TAYLOR,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.65,33656.87,21502.83,NaN,223852.35,223852.35,2011,NaN,San Francisco,NaN,34
106,107,SAMSON LAI,"BATTALION CHIEF, (FIRE DEPARTMENT)",149362.86,35003.50,36682.96,NaN,221049.32,221049.32,2011,NaN,San Francisco,NaN,34
118,119,KHAIRUL ALI,"BATTALION CHIEF, (FIRE DEPARTMENT)",150432.85,42365.89,25995.01,NaN,218793.75,218793.75,2011,NaN,San Francisco,NaN,34
127,128,JOHN HICKEY,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,22432.91,25855.73,NaN,216981.27,216981.27,2011,NaN,San Francisco,NaN,34
134,135,ZACHARY PUMPHREY,"BATTALION CHIEF, (FIRE DEPARTMENT)",166203.84,28448.60,20744.06,NaN,215396.50,215396.50,2011,NaN,San Francisco,NaN,34
151,152,MICHAEL KEARNEY,"BATTALION CHIEF, (FIRE DEPARTMENT)",181502.08,0.00,31449.40,NaN,212951.48,212951.48,2011,NaN,San Francisco,NaN,34
152,153,MATTHEW MCNAUGHTON,"BATTALION CHIEF, (FIRE DEPARTMENT)",173842.63,1210.13,37804.90,NaN,212857.66,212857.66,2011,NaN,San Francisco,NaN,34
184,185,DENNIS SUTTER,"BATTALION CHIEF, (FIRE DEPARTMENT)",63878.03,24586.55,119351.05,NaN,207815.63,207815.63,2011,NaN,San Francisco,NaN,34
209,210,ROBERT SERRANO,"BATTALION CHIEF, (FIRE DEPARTMENT)",25400.00,37100.14,142094.49,NaN,204594.63,204594.63,2011,NaN,San Francisco,NaN,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110545,110546,Jose L Velo,"Battalion Chief, Fire Suppress",183333.82,100005.66,23760.13,61052.39,307099.61,368152.00,2014,NaN,San Francisco,NaN,30
110546,110547,Bryan W Rubenstein,"Battalion Chief, Fire Suppress",177771.16,91547.61,36798.76,59664.91,306117.53,365782.44,2014,NaN,San Francisco,NaN,30
110564,110565,Marty A Ross,"Battalion Chief, Fire Suppress",177771.08,62671.16,39322.25,62074.06,279764.49,341838.55,2014,NaN,San Francisco,NaN,30
110565,110566,Lorrie A Kalos,"Battalion Chief, Fire Suppress",179464.20,62653.15,35768.93,60237.67,277886.28,338123.95,2014,NaN,San Francisco,NaN,30
110566,110567,Khairul A Ali,"Battalion Chief, Fire Suppress",179464.21,71337.03,26022.22,59815.78,276823.46,336639.24,2014,NaN,San Francisco,NaN,30
110570,110571,Victor H Wyrsch,"Battalion Chief, Fire Suppress",179464.20,62908.09,29118.60,58781.34,271490.89,330272.23,2014,NaN,San Francisco,NaN,30
110573,110574,Kevin W Smith,"Battalion Chief, Fire Suppress",177722.49,59117.49,29645.29,59909.13,266485.27,326394.40,2014,NaN,San Francisco,NaN,30
110575,110576,Kirk W Richardson,"Battalion Chief, Fire Suppress",179464.18,57508.99,27464.43,60118.56,264437.60,324556.16,2014,NaN,San Francisco,NaN,30
110578,110579,Pete L Fay Jr,"Battalion Chief, Fire Suppress",179464.21,53735.26,29297.88,59815.79,262497.35,322313.14,2014,NaN,San Francisco,NaN,30
110580,110581,Rudy J Castellanos,"Battalion Chief, Fire Suppress",179464.21,51397.87,29733.03,60621.58,260595.11,321216.69,2014,NaN,San Francisco,NaN,30
110587,110588,Michael R Bryant,"Battalion Chief, Fire Suppress",177771.17,53193.80,25776.70,59261.88,256741.67,316003.55,2014,NaN,San Francisco,NaN,30
110590,110591,Mark J Johnson,"Battalion Chief, Fire Suppress",179464.19,51281.47,24321.23,59323.32,255066.89,314390.21,2014,NaN,San Francisco,NaN,30
110592,110593,Raemona E Williams,"Battalion Chief, Fire Suppress",227252.87,2742.76,18620.41,65337.63,248616.04,313953.67,2014,NaN,San Francisco,NaN,30
110600,110601,Charles Crane,"Battalion Chief, Fire Suppress",179464.22,39232.60,31782.54,58678.04,250479.36,309157.40,2014,NaN,San Francisco,NaN,30
110604,110605,John A Hickey,"Battalion Chief, Fire Suppress",177771.13,40640.32,30613.76,58498.47,249025.21,307523.68,2014,NaN,San Francisco,NaN,30
110605,110606,Denise L Newman,"Battalion Chief, Fire Suppress",179464.20,42739.00,25082.63,59634.58,247285.83,306920.41,2014,NaN,San Francisco,NaN,30
110611,110612,Michael I Thompson,"Battalion Chief, Fire Suppress",179464.22,50039.97,16160.22,57811.77,245664.41,303476.18,2014,NaN,San Francisco,NaN,30
110612,110613,Rex J Hale,"Battalion Chief, Fire Suppress",179464.22,37039.89,26894.45,59996.26,243398.56,303394.82,2014,NaN,San Francisco,NaN,30
110615,110616,Samuel Romero,"Battalion Chief, Fire Suppress",179464.20,38802.15,24701.63,59547.42,242967.98,302515.40,2014,NaN,San Francisco,NaN,30
110646,110647,Thomas P Oconnor,"Battalion Chief, Fire Suppress",179464.21,34903.82,21552.62,58888.28,235920.65,294808.93,2014,NaN,San Francisco,NaN,30
110657,110658,Thomas F Abbott,"Battalion Chief, Fire Suppress",177771.13,32700.02,22798.00,58637.35,233269.15,291906.50,2014,NaN,San Francisco,NaN,30
110667,110668,Ken Yee,"Battalion Chief, Fire Suppress",179908.60,29716.88,21821.96,58386.78,231447.44,289834.22,2014,NaN,San Francisco,NaN,30
110680,110681,Brook Baker,"Battalion Chief, Fire Suppress",179464.20,28015.89,24197.33,56634.05,231677.42,288311.47,2014,NaN,San Francisco,NaN,30
110711,110712,Zachary W Pumphrey,"Battalion Chief, Fire Suppress",177851.65,23110.27,22312.36,57268.14,223274.28,280542.42,2014,NaN,San Francisco,NaN,30
110731,110732,John C Cremen,"Battalion Chief, Fire Suppress",177771.18,28532.30,14221.50,56851.17,220524.98,277376.15,2014,NaN,San Francisco,NaN,30
110763,110764,Kevin D Taylor,"Battalion Chief, Fire Suppress",177771.21,11891.64,25873.38,57778.40,215536.23,273314.63,2014,NaN,San Francisco,NaN,30
110801,110802,Richard E Mcgee,"Battalion Chief, Fire Suppress",179464.18,14045.34,17946.36,58131.34,211455.88,269587.22,2014,NaN,San Francisco,NaN,30
110902,110903,Edmund G Dea,"Battalion Chief, Fire Suppress",178646.00,17003.15,12505.22,53754.34,208154.37,261908.71,2014,NaN,San Francisco,NaN,30
110993,110994,Steven M Bokura,"Battalion Chief, Fire Suppress",179464.25,2018.97,17455.88,57791.32,198939.10,256730.42,2014,NaN,San Francisco,NaN,30
111046,111047,Cherish Murdock,"Battalion Chief, Fire Suppress",177654.10,0.00,19610.12,56901.61,197264.22,254165.83,2014,NaN,San Francisco,NaN,30

In [99]:
sal_627[sal_627.EmployeeName=='ALSON LEE']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,title_len
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN,34

In [72]:
def chief_count(title):
    return title.lower().split().count('chief')

In [78]:
sum(sal.JobTitle.apply(lambda x: chief_count(x)))

477

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [56]:
sal['title_len']=sal.JobTitle.apply(len)

In [57]:
sal[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!